/* div{
    background-color: #696969;
} */
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: .5rem;
    padding: 0 .5rem;
}
.Logo{
    color: cadetblue;
}

.LoginForm{
    flex-direction: row;
    justify-content: flex-start;
    height: 1rem;
}

.LoginForm>Form>input{
    width:15rem
}
