.Toolbar{
    background-color: #1C1D1F;
    background-size: cover;
    height: 3rem;
    margin-top: 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding: 0.2rem .5rem;
}
.Logo{
    color: cadetblue;
}

.LoginForm{
    flex-direction: row;
    justify-content: flex-start;
    height: 1rem;
}

.LoginForm>Form>input{
    width:15rem
}
