body{
    background-color: #444;
    color: #fff;
    height: 100vh;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.RegisterForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 .5rem;
} 

.RegisterForm>Form{
    display: flex;
    flex-direction: column;
}
 
.RegisterForm>Form>Button{
    align-self: flex-end;
    margin-right: .2rem;
}

h3{
    margin-left: .2rem;
    max-width: 30rem;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 