.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

@media screen and (max-width: 375px){
    .loading{
        width: 100vw;
    }
}

@media screen and (min-width: 750px and max-width 1280px){
    .loading{
        width: 100vw;
    }
}