.edit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.editTodo{
    background-color: #848484;
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 2rem;
    margin: .2rem;
}

.editForm{
    flex-direction: column;
}

.editButtons{
    display: flex;
    margin: auto;
}


@media screen and (max-width: 375px){
    .editTodo{
        width:22rem
    }

    .editButtons > button{
        width: auto;
    }
}

@media screen and (min-width: 750px){
    .editButtons{
        display: flex;
        justify-content: center;
    }
    .editButtons > button{
        width: auto;
    }
}