.signInForm {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

form > button{
    height: 1.9rem;
    width: 4rem;
}

.signInInput{
    background-color: #848484;
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 2rem;
    margin: .2rem;
}

@media screen and (max-width: 599px){
    .signInInput{
        width:22rem
    }
    .signInForm{
        border: none;
        padding: 0;
    }
}

@media screen and (min-width: 600px){
    .signInInput{
        width:22rem;
    }
}